.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    align-items: center; /* To vertically align the items */
}

.col-6 {
    flex: 0 0 45%; /* Reduced this from 48% to 45% to bring columns closer */
    padding: 0 2%; /* Adding some padding to ensure there's still a gap */
}

.col-6 img {
    border-radius: 50%; /* This makes the image circular */
    max-width: 100%; /* This ensures the image is not larger than its container */
}

/* Styles to center the image */
.col-6:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
    color: white;
    font: 16px Roboto, sans-serif;
}

.construction-text {
    font-size: 35px;
    margin-left: 20px;
    color: yellow;
}

@keyframes rainbow {
    0%   {color: red;}
    14%  {color: orange;}
    28%  {color: yellow;}
    42%  {color: green;}
    57%  {color: blue;}
    71%  {color: indigo;}
    85%  {color: violet;}
    100% {color: red;}
}

.rainbow-text {
    font-size: 35px;
    margin-left: 20px;
    animation: rainbow 7s infinite; /* This will keep the animation going indefinitely. */
    text-decoration: none;
}

.rainbow-text:hover {
    animation: rainbow 1s infinite;
}

.rainbow-text:active {
    animation: rainbow 0.5s infinite;
}

.rainbow-text-link {
    animation: rainbow 7s infinite; /* This will keep the animation going indefinitely. */
}

.rainbow-text-link:hover {
    animation: rainbow 1s infinite;
}

.rainbow-text-link:active {
    animation: rainbow 0.5s infinite;
}

.image-stuff {
    border-radius: 50%;
    transition : 0.5s;
    transform: scale(1);
}

.image-stuff:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.space-text-left {
    margin-left: 20px;
}

.space-text-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hidden-link {
    color: white;
    text-decoration: none;
    background-color: black;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

}
